<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Suite" parallel="tests" thread-count="2">

    <test name="Condition 1" parallel="classes" thread-count="3">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="login.LoginTests">
                <methods>
                    <include name="testSuccessfulLogin2"></include>
                </methods>
            </class>
            <class name="login.LoginTests2"></class>
<!--            <class name="login.LoginTests3"></class>-->
        </classes>
    </test>

<!--    <test name="Condition 2" parallel="classes" thread-count="3">-->
<!--        <parameter name="browser" value="headlessfirefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="login.LoginTests"></class>-->
<!--            <class name="login.LoginTests2"></class>-->
<!--            <class name="login.LoginTests3"></class>-->
<!--        </classes>-->
<!--    </test> -->
</suite> 